services:
  traefik:
      image: traefik:v3.5
      container_name: traefik
      command:
        - "--api.insecure=true"
        - "--providers.docker=true"
        - "--providers.docker.exposedbydefault=false"
        - "--entrypoints.web.address=:80"
      ports:
        - "9090:80"
        - "9091:8080"
      volumes:
      - ./dev/config/traefik/traefik.yml:/etc/traefik/traefik.yml
      - ./dev/config/traefik/dynamic:/etc/traefik/dynamic
      environment:
        - APP_DOMAIN=${APP_DOMAIN}
      networks:
        - nexpay-web
      extra_hosts:
        - "host.docker.internal:host-gateway"
      restart: unless-stopped
  nexpay-db:
    image: postgres:17-alpine
    container_name: nexpay-db
    environment:
      - POSTGRES_DB=${DB_NAME}
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./database/init.sql:/docker-entrypoint-initdb.d/init.sql:ro
    networks:
      - nexpay-web
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER}"]
      interval: 10s
      timeout: 5s
      retries: 5
  nexpay-cache:
    image: redis:7-alpine
    container_name: nexpay-cache
    command: /bin/sh -c "redis-server --requirepass $REDIS_PASSWORD"
    hostname: nexpay-cache
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    networks:
      - nexpay-web
  nexpay-api:
    build:
      context: ./api
      dockerfile: Dockerfile
    container_name: nexpay-api
    environment:
      - NODE_ENV=development
      - APP_PORT=9000
      - APP_NAME=${APP_NAME}
      - APP_DOMAIN=${APP_DOMAIN}
      - APP_VERSION=1.0.0
      - GLOBAL_PREFIX=api/v1
      - APP_URL=https://${APP_DOMAIN}/api/v1
      - DATABASE_URL=postgresql://${DB_USER}:${DB_PASSWORD}@postgres:5432/${DB_NAME}
      - LOG_LEVEL=info
      - LOG_FORMAT=json
      - HELMET_CSP_DIRECTIVES=default-src 'self'
      - ENCRYPTION_KEY=${ENCRYPTION_KEY}
      - JWT_SECRET=${JWT_SECRET}
      - ADMIN_EMAIL=${ADMIN_EMAIL}
      - ADMIN_PASSWORD=${ADMIN_PASSWORD}
      - X_WRITE_KEY=${X_WRITE_KEY}
      - X_READ_KEY=${X_READ_KEY}
    depends_on:
      - nexpay-db
      - nexpay-cache
    command: sh -c "npx prisma migrate deploy && npm run prod"
    expose:
      - "9000"
    networks:
      - nexpay-web
    restart: unless-stopped
  nexpay-web:
    build:
      context: ./web
      dockerfile: Dockerfile
      args:
        NEXT_PUBLIC_API_URL: "http://${APP_DOMAIN}:9090/api/v1"
        NEXT_PUBLIC_READ_API_KEY: ${X_READ_KEY}
    container_name: nexpay-web
    environment:
      - NEXT_PUBLIC_API_URL=http://${APP_DOMAIN}:9090/api/v1
      - NEXT_PUBLIC_READ_API_KEY=${X_READ_KEY}
    expose:
      - 9001
    networks:
      - nexpay-web



networks:
  nexpay-web:
    name: nexpay-web

volumes:
  postgres_data:
  redis_data: