services:
  nexpay-db:
    image: postgres:17-alpine
    container_name: nexpay-db
    environment:
      - POSTGRES_DB=${DB_NAME}
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data_nexpay:/var/lib/postgresql/data
    networks:
      - nexpay-app
    restart: unless-stopped
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER}"]
      interval: 10s
      timeout: 5s
      retries: 5

  nexpay-cache:
    image: redis:7-alpine
    container_name: nexpay-cache
    command: /bin/sh -c "redis-server --requirepass $$REDIS_PASSWORD"
    hostname: nexpay-cache
    ports:
      - "63791:6379"
    volumes:
      - redis_data_nexpay:/data
    networks:
      - nexpay-app
    environment:
      - REDIS_PASSWORD=${REDIS_PASSWORD}
    restart: unless-stopped

  nexpay-app:
    image: ghcr.io/mouhamedlamotte/nexpay:latest
    container_name: nexpay-app
    environment:
      # app environment
      - NODE_ENV=production
      - APP_PORT=9000
      - WEB_PORT=9001
      - APP_NAME=${APP_NAME}
      - APP_DOMAIN=${APP_DOMAIN}
      - GLOBAL_PREFIX=api/v1
      - DATABASE_URL=${DATABASE_URL}
      - REDIS_URL=redis://:${REDIS_PASSWORD}@nexpay-cache:6379
      - JWT_SECRET=${JWT_SECRET}
      - ENCRYPTION_KEY=${ENCRYPTION_KEY}
      - ADMIN_EMAIL=${ADMIN_EMAIL}
      - ADMIN_PASSWORD=${ADMIN_PASSWORD}
      - X_WRITE_KEY=${X_WRITE_KEY}
      - X_READ_KEY=${X_READ_KEY}

      # Frontend environment
      - NEXT_PUBLIC_API_URL=https://${APP_DOMAIN}/api/v1
      - NEXT_PUBLIC_READ_API_KEY=${X_READ_KEY}
    depends_on:
      nexpay-db:
        condition: service_healthy
      nexpay-cache:
        condition: service_started
    # don't bind the web port if you use a gateway
    # ports:
    #   - "9000:9000"
    #   - "9001:9001"
    expose:
      - "9000"
      - "9001"
    volumes:
      - ./media:/app/media
      - ./logs:/app/logs
    networks:
      - nexpay-app
    restart: unless-stopped

networks:
  nexpay-app:
    name: nexpay-app
    driver: bridge

volumes:
  postgres_data_nexpay:
    name: postgres_data_nexpay
  redis_data_nexpay:
    name: redis_data_nexpay